.-hidden
  display: none

@media (min-width: $breakpoint-small)
  .-sm-hidden
    display: none
  .-sm-visible
    display: block
  .row.-sm-visible, [class*='row-'].-sm-visible
    display: flex

@media (min-width: $breakpoint-large)
  .-lg-hidden
    display: none
  .-lg-visible
    display: block
  .row.-lg-visible, [class*='row-'].-lg-visible
    display: flex

// Background color
._bg-primary
  background-color: $primary

._bg-secondary
  background-color: $secondary

._bg-gray
  background-color: $gray

._bg-primary-hover:hover
  background-color: $primary

._bg-secondary-hover:hover
  background-color: $secondary

._bg-gray-hover:hover
  background-color: $gray

// Border color
._border-primary
  border-color: $primary

._border-secondary
  border-color: $secondary

._border-gray
  border-color: $gray

._border-primary-hover:hover
  border-color: $primary

._border-secondary-hover:hover
  border-color: $secondary

._border-gray-hover:hover
  border-color: $gray

