html
  head
    title Pedestal
    include ./includes/head.jade
  body
    input#menu-bar-toggle-main(type="checkbox" name="open-input")
    .menu-bar.-responsive.-top
      .container
        a(href="/").brand Pedestal
        .right
          nav
            ul
              li: a(href="/") Home
              li: a.-active(href="/elements.html") Elements
              li: a(href="/themes.html") Themes
              li: a.button.-primary(href="/download.html") Download
          label#open-button(for="menu-bar-toggle-main") Menu
    input#menu-bar-toggle-sub(type="checkbox" name="open-input")
    .menu-bar.-responsive.-top.-small.-inverse
      .container
        .center
          nav
            ul
              li: a(href="/elements.html") Overview
              li: a(href="/typography.html") Typography
              li: a(href="/grid.html") Grid
              li: a(href="/buttons.html") Buttons
              li: a(href="/navigation.html") Navigation
              li: a(href="/forms.html") Forms
              li: a(href="/messages.html") Messages
              li: a(href="/tables.html") Tables
              li: a(href="/cards.html") Cards
              li: a(href="/images.html") Images
              li: a.-active(href="/code.html") Code
          label#open-button(for="menu-bar-toggle-sub") All Elements
    .container
      h1 Code
      h2 Preformatted
      h3 Code
      .DOCS_example
        pre: code
          | @media (min-width: $breakpoint-small)
          |   @for 
          span.highlight $i
          |  from 1 through $columns
          |     .row > .col-sm-#{$i}, [class*='row-'] > .col-sm-#{$i}
          |       width: (
          span.highlight $i
          |  * 100% / $columns)
          |   .row > [class*='col-sm-'], [class*='row-'] > [class*='col-sm-']
          |     flex: none
          span.line.highlight   .row > .col-sm-auto, [class*='row-'] > .col-sm-auto
          |     flex: 1
      .DOCS_code
        pre
          code
            :escape-html
              <pre>
                <code>
                  Normal line
                  Inline <span class="highlight">highlight</span>
                  <span class="line highlight">Complete line highlight</span>
                </code>
              </pre>

      h3 With line numbers
      .DOCS_example
        pre.-numbered: code
          span.line @media (min-width: $breakpoint-small)
          span.line   @for 
            span.highlight $i
            |  from 1 through $columns
          span.line     .row > .col-sm-#{$i}
          span.line        width: (
            span.highlight $i
            |  * 100% / $columns)
          span.line   .row > [class*='col-sm-']
          span.line     flex: none
          span.line.highlight   .row > .col-sm-auto
          span.line     flex: 1
      .DOCS_code
        pre
          code
            :escape-html
              <pre class="-numbered">
                <code>
                  <span class="line">Normal line</span>
                  <span class="line">Inline <span class="highlight">highlight</span></span>
                  <span class="line highlight">Complete line highlight</span>
                </code>
              </pre>

      h2 Inline
      .DOCS_example
        code= '.red { background: #f00 }'
      .DOCS_code
        pre
          code
            :escape-html
              <code>.red { background: #f00 }</code>
    include ./includes/footer.jade


