html
  head
    title Pedestal
    include ./includes/head.jade
  body
    input#menu-bar-toggle-main(type="checkbox" name="open-input")
    .menu-bar.-responsive.-top
      .container
        a(href="/").brand Pedestal
        .right
          nav
            ul
              li: a(href="/") Home
              li: a.-active(href="/elements.html") Elements
              li: a(href="/themes.html") Themes
              li: a.button.-primary(href="/download.html") Download
          label#open-button(for="menu-bar-toggle-main") Menu
    input#menu-bar-toggle-sub(type="checkbox" name="open-input")
    .menu-bar.-responsive.-top.-small.-inverse
      .container
        .center
          nav
            ul
              li: a(href="/elements.html") Overview
              li: a(href="/typography.html") Typography
              li: a(href="/grid.html") Grid
              li: a(href="/buttons.html") Buttons
              li: a(href="/navigation.html") Navigation
              li: a(href="/forms.html") Forms
              li: a(href="/messages.html") Messages
              li: a(href="/tables.html") Tables
              li: a(href="/cards.html") Cards
              li: a.-active(href="/images.html") Images
              li: a(href="/code.html") Code
          label#open-button(for="menu-bar-toggle-sub") All Elements
    .container
      h1 Images
      .row-12.row-sm-6.row-lg-4
        .col
          .DOCS_example
            img(src="https://unsplash.it/200/200").img-responsive
          .DOCS_code
            pre
              code
                :escape-html
                  <img src="image.jpg" class="img-responsive"/>
        .col
          .DOCS_example
            img(src="https://unsplash.it/200/200").img-responsive.img-rounded
          .DOCS_code
            pre
              code
                :escape-html
                  <img src="image.jpg" class="img-responsive img-rounded"/>
        .col
          .DOCS_example
            img(src="https://unsplash.it/200/200").img-responsive.img-round
          .DOCS_code
            pre
              code
                :escape-html
                  <img src="image.jpg" class="img-responsive img-round"/>
        .col
          .DOCS_example
            img(src="https://unsplash.it/200/200").img-wide
          .DOCS_code
            pre
              code
                :escape-html
                  <img src="image.jpg" class="img-wide"/><
    include ./includes/footer.jade






