html
  head
    title Pedestal
    include ./includes/head.jade
  body
    input#menu-bar-toggle-main(type="checkbox" name="open-input")
    .menu-bar.-responsive.-top
      .container
        a(href="/").brand Pedestal
        .right
          nav
            ul
              li: a(href="/") Home
              li: a.-active(href="/elements.html") Elements
              li: a(href="/themes.html") Themes
              li: a.button.-primary(href="/download.html") Download
          label#open-button(for="menu-bar-toggle-main") Menu
    input#menu-bar-toggle-sub(type="checkbox" name="open-input")
    .menu-bar.-responsive.-top.-small.-inverse
      .container
        .center
          nav
            ul
              li: a(href="/elements.html") Overview
              li: a(href="/typography.html") Typography
              li: a(href="/grid.html") Grid
              li: a(href="/buttons.html") Buttons
              li: a(href="/navigation.html") Navigation
              li: a(href="/forms.html") Forms
              li: a(href="/messages.html") Messages
              li: a(href="/tables.html") Tables
              li: a(href="/cards.html") Cards
              li: a.-active(href="/images.html") Images
              li: a(href="/code.html") Code
          label#open-button(for="menu-bar-toggle-sub") All Elements
    .container
      h1 Images
      h2 Sizing
      .row-12.row-sm-6.row-lg-4
        .col
          h3 Responsive
          p Max. 100% width of parent
          .DOCS_example
            img(src="https://unsplash.it/200/200").img-responsive
          .DOCS_code
            pre
              code
                :escape-html
                  <img src="image.jpg" class="img-responsive"/>
        .col
          h3 Wide
          p 100% width of parent
          .DOCS_example
            img(src="https://unsplash.it/200/200").img-wide
          .DOCS_code
            pre
              code
                :escape-html
                  <img src="image.jpg" class="img-wide"/>
      h2 Border radius
      .row-12.row-sm-6.row-lg-4
        .col
          h3 Rounded borders
          .DOCS_example
            img(src="https://unsplash.it/200/200").img-responsive.img-rounded
          .DOCS_code
            pre
              code
                :escape-html
                  <img src="image.jpg" class="img-responsive img-rounded"/>
        .col
          h3 Round borders
          .DOCS_example
            img(src="https://unsplash.it/200/200").img-responsive.img-round
          .DOCS_code
            pre
              code
                :escape-html
                  <img src="image.jpg" class="img-responsive img-round"/>
      h2 Thumbnails
      .row-12.row-sm-6
        .col
          .DOCS_example
            a(href="").thumbnail
              img(src="https://unsplash.it/300/130").img-responsive
          .DOCS_code
            pre
              code
                :escape-html
                  <a href="" class="thumbnail">
                    <img src="https://unsplash.it/300/130" class="img-responsive"/>
                  </a>
        .col
          .DOCS_example
            .thumbnail
              img(src="https://unsplash.it/300/130").img-responsive
          .DOCS_code
            pre
              code
                :escape-html
                  <div class="thumbnail">
                    <img src="https://unsplash.it/300/130" class="img-responsive"/>
                  </div>
        .col
          .DOCS_example
            a(href="").thumbnail
              img(src="https://unsplash.it/300/130").img-responsive
              .content
                h3 Thumbnail
                p Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit
          .DOCS_code
            pre
              code
                :escape-html
                  <a href="" class="thumbnail">
                    <img src="https://unsplash.it/300/130" class="img-responsive"/>
                    <div class="content">
                      <h3>Thumbnail</h3>
                      <p>Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    </div>
                  </a>
        .col
          .DOCS_example
            .thumbnail
              img(src="https://unsplash.it/300/130").img-responsive
              .content
                h3 Thumbnail
                p Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit
          .DOCS_code
            pre
              code
                :escape-html
                  <adiv class="thumbnail">
                    <img src="https://unsplash.it/300/130" class="img-responsive"/>
                    <div class="content">
                      <h3>Thumbnail</h3>
                      <p>Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    </div>
                  </div>

    include ./includes/footer.jade






